<ul class="clr-timeline clr-timeline-horizontal" xmlns="http://www.w3.org/1999/html">
  <li class="clr-timeline-step disabled">
    <div class="clr-timeline-step-header">1999 - 2002</div>
    <cds-icon shape="success-standard" aria-label="Completed"></cds-icon>
    <div class="clr-timeline-step-body">
      <span class="clr-timeline-step-title"> Just out of college
      </span>
      <span class="clr-timeline-step-description">Completed BCA & MCA from Bhopal</span>
      <span class="clr-timeline-step-description">Met his
        <clr-icon shape="heart" size="12" class="is-error is-solid"></clr-icon> of doing projects  - First Indian Linux, First Hindi Linux, Localisation in Redhat 6.0.
      Almost 22 projects in college life. -- Just imagine !!! </span>
    </div>
  </li>
  <li class="clr-timeline-step disabled">
    <div class="clr-timeline-step-header">2005 - 2007</div>
    <cds-icon shape="success-standard" aria-label="Completed"></cds-icon>
    <div class="clr-timeline-step-body">
      <span class="clr-timeline-step-title"> New Grad now - joined Calsoft
      </span>
      <span class="clr-timeline-step-description">Comes into a new city - Pune</span>
      <span class="clr-timeline-step-description">Worked on Panasas Distributed File System</span>
    </div>
  </li>
  <li class="clr-timeline-step disabled">
    <div class="clr-timeline-step-header">2007 - 2008</div>
    <cds-icon shape="success-standard" aria-label="Completed"></cds-icon>
    <div class="clr-timeline-step-body">
      <span class="clr-timeline-step-title"> Joins in Neoaccel
      </span>
      <span class="clr-timeline-step-description">Works on SSL-VPN solution acquired by VMware</span>
    </div>
  </li>
  <li class="clr-timeline-step">
    <div class="clr-timeline-step-header">2008 - 2016 </div>
    <cds-icon shape="success-standard" aria-label="Completed"></cds-icon>
    <div class="clr-timeline-step-body">
      <span class="clr-timeline-step-title">Comes to Microsoft Bengaluru
        <clr-icon shape="employee" class="is-info is-solid"></clr-icon>
      </span>
      <span class="clr-timeline-step-description">
        Works with Customers, Partners, Engineering, Evangelism, Research
        <br/>
         - Azure Services, Windows OS and Kernel Drivers
        <br/>
         - Strategy group for Automated Data Analysis
      </span>
    </div>
  </li>
  <li class="clr-timeline-step">
    <div class="clr-timeline-step-header">2016 - 2018 </div>
    <cds-icon shape="success-standard" aria-label="Completed"></cds-icon>
    <div class="clr-timeline-step-body">
      <span class="clr-timeline-step-title">Now a Staff Engineer at VMware
      </span>
      <span class="clr-timeline-step-description">
        Dwells deep on security arena
        <br/>
         - Works on Windows Kernel Driver, User mode service.
        <br/>
      </span>
    </div>
  </li>
  <li class="clr-timeline-step">
    <div class="clr-timeline-step-header">2018 - At present </div>
    <clr-spinner clrMedium aria-label="In progress">Fetching data</clr-spinner>
    <div class="clr-timeline-step-body">
      <span class="clr-timeline-step-title">Senior Software Engineer - To a Manager
      </span>
      <span class="clr-timeline-step-description">
        Continues his passion for <clr-icon shape="lock" class="is-solid is-green"></clr-icon>
        <br/>
         - Works on
        <br/>
         - Makes movement to a managerial role
      </span>
    </div>
  </li>
</ul>
