<ul class="clr-timeline clr-timeline-horizontal" xmlns="http://www.w3.org/1999/html">
  <li class="clr-timeline-step disabled">
    <div class="clr-timeline-step-header">1999 - 2002</div>
    <cds-icon shape="success-standard" aria-label="Completed"></cds-icon>
    <div class="clr-timeline-step-body">
      <span class="clr-timeline-step-title"> Just out of college
      </span>
      <span class="clr-timeline-step-description">Completed BCA & MCA from Bhopal</span>
      <span class="clr-timeline-step-description">
         - Met his<clr-icon shape="heart" size="12" class="is-error is-solid"></clr-icon> of doing projects
        <br/>
       - Worked on innumerable exciting projects one being first localisation of Redhat-6.0 in Hindi ... Just imagine!!
      </span>
    </div>
  </li>
  <li class="clr-timeline-step disabled">
    <div class="clr-timeline-step-header">2005 - 2007</div>
    <cds-icon shape="success-standard" aria-label="Completed"></cds-icon>
    <div class="clr-timeline-step-body">
      <span class="clr-timeline-step-title"> New Grad now - joined Calsoft
      </span>
      <span class="clr-timeline-step-description">Comes into a new city - Pune</span>
      <span class="clr-timeline-step-description">Worked on Panasas Distributed File System</span>
    </div>
  </li>
  <li class="clr-timeline-step disabled">
    <div class="clr-timeline-step-header">2007 - 2008</div>
    <cds-icon shape="success-standard" aria-label="Completed"></cds-icon>
    <div class="clr-timeline-step-body">
      <span class="clr-timeline-step-title"> Joins in Neoaccel
      </span>
      <span class="clr-timeline-step-description">Works on SSL-VPN solution acquired by VMware</span>
    </div>
  </li>
  <li class="clr-timeline-step">
    <div class="clr-timeline-step-header">2008 - 2016 </div>
    <cds-icon shape="success-standard" aria-label="Completed"></cds-icon>
    <div class="clr-timeline-step-body">
      <span class="clr-timeline-step-title">Comes to Microsoft Bengaluru
        <clr-icon shape="employee" class="is-info is-solid"></clr-icon>
      </span>
      <span class="clr-timeline-step-description">
        Works with Customers, Partners, Engineering, Evangelism, Research
        <br/>
         - Azure Services, Windows OS and Kernel Drivers
        <br/>
         - Strategy group for Automated Data Analysis
      </span>
    </div>
  </li>
  <li class="clr-timeline-step">
    <div class="clr-timeline-step-header">2016 - 2018 </div>
    <cds-icon shape="success-standard" aria-label="Completed"></cds-icon>
    <div class="clr-timeline-step-body">
      <span class="clr-timeline-step-title">Worked as a Staff Engineer at VMware
      </span>
      <span class="clr-timeline-step-description">
        Dwells deep on security arena
        <br/>
         - Works on Windows Kernel Driver, User mode service.
        <br/>
      </span>
    </div>
  </li>
  <li class="clr-timeline-step">
    <div class="clr-timeline-step-header">2018 - 2020 </div>
    <cds-icon shape="success-standard" aria-label="Completed"></cds-icon>
    <div class="clr-timeline-step-body">
      <span class="clr-timeline-step-title">One of the first hire of Microsoft Defenders in 2018: Joining as a Senior Software Engineer
      </span>
      <span class="clr-timeline-step-description">s
        - Continues his passion for security <clr-icon shape="lock" class="is-solid is-green" size="16"></clr-icon>
        <br/>
        - Helped shape team into what is is today
        <br/>
      </span>
    </div>
  </li>
  <li class="clr-timeline-step">
    <div class="clr-timeline-step-header">2020- Present </div>
    <clr-spinner clrMedium aria-label="In progress">Fetching data</clr-spinner>
    <div class="clr-timeline-step-body">
      <span class="clr-timeline-step-title">Moves into Managerial role at Microsoft
      </span>
      <span class="clr-timeline-step-description">
        - Levels up the bar by taking responsibility
        <br/>
        - Continues driving xplat-client team at IDC
        <br/>
      </span>
    </div>
  </li>
</ul>
