<div class ="main-container">
<header class="header header-6">
  <div class="branding">
      <img src="/assets/img/ms_logo.png" alt="image">
      <span class="title" id="congrats-message">Congrats on your 10th Work Aniversary Achindra :-)
      </span>
  </div>
</header>
<div class="content-container">
  <div class="content-area">
    <div #aboutSection class="clr-row">
      <div class="clr-col-3 wow slideInLeft" data-wow-duration="2s">
        <img class="intro-image" src="/assets/img/Achindra.jpeg" alt="image">
      </div>
      <div class="clr-col-9">
        <app-typingjs id="typing-div wow slideInRight" data-wow-duration="2s"></app-typingjs>
        <app-timeline id="timeline-div"></app-timeline>
        <div>
        </div>
      </div>
    </div>
    <div #messages id="messages" class="clr-row wow bounceInUp" data-wow-duration="1.5s">
      <br>
      <br>
      <br>
      <app-messages></app-messages>
    </div>
  </div>
</div>
</div>
