.intro-image {
  clip-path: circle(50% at 50% 50%);
  height: 100%;
  width: 100%;
}

#messages {
  background-image: url("../assets/img/kudoboard_background.jpg");
  background-repeat: repeat;
  margin-top: 50px;
}

#typing-div {
  width: 100%;
  height: max-content;
}

#congrats-message {
  font-size: 32px;
}
